*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

html {
    font-size: 16px;
  }

body{
    background-color: rgb(132, 155, 90); 
}

fieldset {
    border: 0;
}

.title{
    text-align: center;
}

.subtituto{
    margin-left: 5%;
    padding-bottom: 10px;
}

.image{
    width: 210px;
    display: flex;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
}

li:hover img {
    transform: scale(1.1); /* Ampliar a imagem ao passar o mouse por cima */
  }

ul {
    list-style-type: none;
    display: flex;
    justify-content: center; /* Centralizar horizontalmente */
    align-items: center; /* Centralizar verticalmente */
    height: 60vh; /* Altura total da janela de visualização */
  }

p{
    padding-top: 20px;
}

form{
    justify-content: center;
}

.campo label {
    margin-bottom: 0.2em;
    color: #e4ffc1;
    display: block;
}

.campo input {
    border-radius: 30px;
    font-size: 1em;
    padding: 0.5;
}
 
.grupo{
    margin-left: 36%;    
}

button{
    width: 7rem;
    font-size: 1em;
    height: 30px;
    margin-top: 3%;
    border-radius: 5px;
    margin-bottom:2% ;
}

.campo select {
    padding-right: 1em;
    font-size: 1em;
    border-radius: 20px;
}